/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 60px;

  background-image: url("/static/img/wb.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #8ca8bd;
  background-size: cover;
}

/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*buttons*/
/*****/
.jumbotron {
    margin-top: 20px;
}
/*post style*/
.post-subject{
  border-bottom: 2px solid #B88A00;
}
.post-content{
  padding-left:10px;
  padding-top: 10px;
  border-bottom: 1px dotted #B88A00;
}
.comment-heading{
  border-bottom: 1px solid #6363B0;
}
.comment-content{
  padding-left:10px;
  padding-top: 10px;
}
.task-header{
  border-bottom: 2px solid #4d728e;
  padding-left:10px;
  margin-bottom:10px;
  margin-top:-20px;
}
.task-button{
  width:100px
}
.delimeter{
  margin-left: -15px;
  margin-right:-15px;
  height:5px;
  background-color: #98afc1;
  border-top:1px solid black;
  border-bottom:1px solid black;
}
/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}

.error {
    color: red;
}
/*color styles*/
.sky{
  background-color: #819cb1;
  color: #dad9d5;
}
.white {
  background-color: #ffffff;
  opacity: 0.9;

}
.btnmarkup{
  margin-left:5px;
}