{% extends "base.html" %}

{% block content %}
<div class="span6 offset3 white">
	<h1>{{title}}</h1>
  {% for p in posts %}
    {{ p.render()|safe }}
    
	<div class = "row">
    
    <div class = "span2">
      <p><a href = {{p.permanent_link}}>Read more>> </a></p>
    </div>
    <div class = "span2 offset6">
      {%set comments = p.permanent_link +"#comments"%}
      <p><a href = {{comments}}> Comments ({{p.number_of_comments}}) </a></p>
    </div>
    <div class ="span2">
      {%set add = p.permanent_link +"#add"%}
      <p><a href = {{add}} class="text-right"> Add comment </a></p>
    </div>
  </div>

	<br>
  {% endfor %}
</div>
{% endblock %}
