{% extends "base.html" %}

{% block content %}
<div class="span2">
  <div class="well sidebar-nav">
     <ul class="nav nav-list">
        <li class="nav-header">Tips:</li>
      </ul>
      <li> Use &ltb&gt<b>text</b>&lt/b&gt for <b>bold</b></li>
      <li> Use &lti&gt<i>text</i>&lt/i&gt for <i>italic</i></li>
      <li> Insert url links</li>
    </li>
  </div>
</div>
<div class="span8 white">
    
    {%if error_blog%}
    	<div class = "raw error">{{error_blog}} </div>
    {% endif %}
    <form class="form-horizontal" method="post">
      <legend>New post</legend>
      <div class="control-group">
        <label class="control-label" >Title</label>
        <div class="controls">
          <input type="text" name="subject" value="{{subject}}" placeholder="Subject" id="focusedInput" placeholder="Title">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputText">Post</label>
        <div class="controls">
          <textarea name="content" rows="15" id = "inputText">{{content}}</textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Post</button>
        </div>
      </div>
    </form>
</div>

{% endblock %}
