{% extends "base.html" %}

{% block content %}
<div class="span6 offset3 white">
  <div class="hero-unit">
    <h1>{{req_user.name|capitalize}}' Profile</h1>
    <p><b>Registered:</b> <i>{{req_user.registered}}</i></p>
    {%set req_user_url= "/community/"+req_user.name+"/blog"%}	
    <p><h2><a href = {{req_user_url}}>{{req_user.name|capitalize}}' blog</a></h2></p>
    <p><h2><small>Gained exp: </small><span class="glyphicon glyphicon-certificate"> {{req_user.total_exp}}</h2></p>
    <p><h2><small>Mushrooms:</small>
    {%for m in req_user.mushrooms%}
    	<img src="/static/img/mushroom.png" alt="mushroom">
    {%endfor%}
</h2></p>
  </div>
  <br><br><br>
  
</div>

{% endblock %}
