{% extends "header.html" %}
{%block body%}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Concepts</li>
              
          {% for item in Concepts %}
            <li><a href="{{ item.href }}">{{ item.name|capitalize }}</a></li>
          {% endfor %}
                  
          </ul>
      </div><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->
</div><!--/.fluid-container-->
{%endblock%}

{%block content%}
{%endblock%}
