{% extends "coursesidebar.html" %}

{% block coursecontent %}
<div class = "span9 white">
	<h1>Introduction to F<small>uck</small> T<small>hings</small> U<small>p</small></h1>
	<dl>
	  <dt>Abstract</dt>
	  <dd>В сети есть множество методичек, как перестать прокрастинировать::тупить и начать жить вперед. И 99% из них не работает. 
	  	  Так что от еще одной <i>примерно</i> такой же энтропия не вырастет.</dd>
	  <dt> General Programming</dt>
	  <dd>Данный сайт должен был стать полноценным генератором курсов::социальной сетью, но, как оказалась, задача это довольно долгая. Так что я просто написал хоть что-то работающее. Думайте про этот сайт, как про протитип для будущего настоящего FTU. Чтобы этот сайт хоть чуть-чуть удовлетворял anti-procrastination framework standard, нужно еще много чего сделать, как минимум табличное отображение курсов.Да и вообще в специальном посте в блоге девелопмент я буду добавлять список реквестированных фич... Но тем, что уже есть вполне можно пользоваться. Enjoy it!</dd>
	</dl>
</div>
{% endblock %}